{% extends "templates/web.html" %}

{% block footer %}{% endblock %}

{% block head_include %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700;800&family=Fraunces:opsz,wght@9..144,700;9..144,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/bp_water_heaters/css/bpwh.css">
{% endblock %}

{% block page_content %}
{% include "bp_water_heaters/templates/includes/bpwh_portal_content.html" %}
{% endblock %}
